@charset "utf-8";
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input,select{margin:0;padding:0;}
body{font-size:16px;font-family: "微软雅黑";}
html,body{
	width:100%;overflow-x: hidden;
}
ul,ol,li{list-style:none;}
a,u{text-decoration: none;;}
h1,h2,h3,h4,h5,h6{font-size:16px;font-weight:100;}
b,strong{font-weight:100;}
em,i{font-style:normal;}
img{border:0;display:block;}
.clearfix:after{content:".";display:block;clear:both;height:0;overflow:hidden;visibility: hidden;}

#top{
	height:30px;width:100%;background:#111
}
#nav{
	height:60px;background:rgba(1,1,1,0.5);width:100%;position: absolute;z-index:10
}
#nav #shadow{
	position:relative;top:0;left:0;background:rgba(1,1,1,0.4);width:100%;height:100%
}
#nav #shadow div{
	width:680px;margin:0 auto;
}
#nav #shadow li{
	font-size:14px;height:30px;line-height:30px
}
#nav #shadow i{
	line-height:30px
}
#nav #shadow input{
	width:550px;height:45px;margin:4px auto 0 ;background: none;border:none;outline: none;color:#fff
}
#nav #shadow span{
	padding:10px 15px;
	display:block;width:600px;margin:11px auto;color:#fff;background:url("../img/search-background.png") no-repeat ;
}
#nav #shadow div i{
	font-size:20px;margin-right: 5px;line-height:30px;padding-left:30px
}
#nav #shadow span i:nth-of-type(2){
	position:absolute;right:0;top:0
}
#nav #p1 img{
	width:74px;height:32px;float:left;line-height: 60px;padding-top:14px;margin-right: 7px;
}
#nav #p2 img{width: 90px;height:36px;float: left;line-height: 60px;padding-top:12px
}
#nav .ul{
	width:700px;margin:0 auto;height:60px
}
#nav .ul li{
	float: left;width:120px;line-height: 60px;text-align: center;color:#FFF
}
#nav .ul li a{
	color:#fff
}
#nav .ul li span{
	font-size: 10px;color:#ba2828;position:absolute;top:40px;margin:0 auto;display: block;width:120px;height:10px;line-height: 10px;text-align: center;
}
#nav li .bbox{
	width:1300px;background:rgba(255,255,255,0.7);height:160px;position:absolute;top:60px;left:0;display:none;z-index:1
}
#nav li .bbox i{
	padding-left:0
}
#nav .box{
	width:1220px;overflow: hidden;position: relative;height:160px;left:20px;
}
#nav .box ul{
	position: absolute;left:16px;top:0;width: 1500px;
}
#nav .box .u2{
	left:100px
}
#nav .box .u3{
	left:260px
}
#nav .u1 li{
	float:left;width:120px;text-align: center;line-height:16px;line-height: 16px;font-size: 14px;color:#111
}
#nav .u2 li{
	float:left;width:120px;text-align: center;line-height:16px;line-height: 16px;font-size: 14px;color:#111
}
#nav .u3 li{
	float:left;width:120px;text-align: center;line-height:16px;line-height: 16px;font-size: 14px;color:#111
}
#nav .ul li .left,.right{
	height:150px;width:16px;position: absolute;top:5px;left:7px;border-right: 1px solid rgba(255,255,255,0.8);font-size:24px;line-height: 150px
}
#nav .ul li .right{
	border-left:1px solid rgba(255,255,255,0.8);border-right:none;left: 1240px;
}
#nav .u1 li  p span{
	color:mediumblue;display: block;width:120px;position:absolute;top:130px;
}
#nav .u2 li p span{
	color:mediumblue;display: block;width:120px;position:absolute;top:130px;
}
#nav .u3 li p span{
	color:mediumblue;display: block;width:120px;position:absolute;top:130px;
}
#nav .font{
	position: absolute;right:0;top:0;padding-right: 48px;color:#FFF
}
#nav i{
	font-size:24px;line-height: 60px;padding-left:60px ;color:#FFF
}
#nav .font a{
	color:#fff;
}
#nav  .div{
	width:286px;height:248px;background:rgba(255,255,255,0.8);position: absolute;right:-286px
}
#nav .div>i{
	float:right;font-size:16px;line-height:16px
}
#nav .div ul i{
	line-height:30px;color:cornflowerblue;padding-left: 10px;
}
#nav .div h3{
	text-align:center;line-height:18px;width:190px;margin:17px auto;color:cornflowerblue;
}
#nav .div ul li{
	height:38px;width:230px;font-size:16px;color:cornflowerblue;border-top: 1px solid #ccc;margin:0 auto;color:cornflowerblue
}
#nav .div ul li a{
	color:cornflowerblue
}
#nav .div ul li a:hover{
	text-decoration: underline;
}

#bottom{
	height:540px;width:100%
}
#bottom .btm{
	height:480px;background:#f4f4f4;margin:0 auto;width:1230px;padding-top:60px;
}
#bottom .btm .sec1{
	float:left;width:570px;height:220px;
}
#bottom .btm .sec1 input{
	margin-left: 60px;width:262px;height:50px;float:left;border:1px solid #ccc;border-right: 0;padding-left:10px
}
#bottom .btm .sec1 h2{
	margin-left:60px;display: block;width:330px;font-size:18px;padding-bottom: 10px;;
}
#bottom .btm .sec1 span{
	display:block;width:52px;height:52px;background:#111;float:left;font-size: 18px;color:#fff;text-align:center;line-height: 52px;
}
#bottom .btm .sec2 .ul{
	float:left;width:224px;height:220px;margin-left:55px
}
#bottom .btm .sec2 .ul li{
	font-size:14px;line-height:22px
}
#bottom .btm .sec3 {
	width:400px;margin:0 auto;height:137px
}
#bottom .btm .sec3 div{
	float:left;margin:30px 30px 0
}
#bottom .btm .sec3 img{
	width:66px;height:66px
}
#bottom .btm .sec3 p{
	font-size:14px;width:66px;margin:0 auto;text-align: center;
}
#bottom .btm .sec4 select{
	margin:0  60px 16px
}
#bottom .btm .sec4 p{
	font-size:12px;margin-left: 50px;line-height:20px
}
